/* 
 * MStyle.css by Alan James
 * version 1305
 * recommended Sass version 2.3.1
 */
.MContent, .MContentList, .MContent1000, .MContent960, .MContent900, .MContent870, .MContent840, .MContent800, .MContent740, .MContent700, .MContent610, .MContent600, .MContent500, .MContent400, .MContent300, .MContent200, .MContent100 {
  margin: 0 auto;
  text-align: left; }

.MContentList {
  width: 80%; }

.MContent1000 {
  width: 1000px; }

.MContent960 {
  width: 960px; }

.MContent900 {
  width: 900px; }

.MContent870 {
  width: 870px; }

.MContent840 {
  width: 840px; }

.MContent800 {
  width: 800px; }

.MContent740 {
  width: 740px; }

.MContent700 {
  width: 700px; }

.MContent610 {
  width: 610px; }

.MContent600 {
  width: 600px; }

.MContent500 {
  width: 500px; }

.MContent400 {
  width: 400px; }

.MContent300 {
  width: 300px; }

.MContent200 {
  width: 200px; }

.MContent100 {
  width: 100px; }

.MContentSpacer {
  clear: both;
  height: 0;
  padding-top: 1.2em;
  padding-bottom: 1.2em; }

.MTableSpacer {
  height: 2.4em; }
