/* 
 * MStyle.css by Alan James
 * version 130508
 * recommended Sass version 2.3.1
 */
.MShadowOuterSmall {
  box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MShadowOuterLarge {
  box-shadow: 0 1.2em 2.4em -0.8em rgba(0, 0, 0, 0.4); }

.MShadowInnerSmall {
  box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MShadowInnerLarge {
  box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MTextShadowSmall {
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MTextShadowLarge {
  text-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MDropdown {
  list-style: none;
  margin: 10px;
  padding: 0;
  display: block; }
  .MDropdown li {
    float: left;
    position: relative;
    display: block; }
    .MDropdown li a {
      display: block;
      background: none;
      padding: 5px 10px;
      text-decoration: none; }

.MDropdown > li:hover > a {
  background: #141414;
  background: -moz-linear-gradient(top, #232323 0%, #141414 100%);
  background: -ms-linear-gradient(top, #232323 0%, #141414 100%);
  background: -o-linear-gradient(top, #232323 0%, #141414 100%);
  background: -webkit-linear-gradient(top, #232323 0%, #141414 100%);
  background: linear-gradient(top, #232323 0%, #141414 100%);
  color: white;
  border-radius: 3px; }

.MDropdown ul {
  display: none;
  position: absolute;
  list-style: none;
  z-index: 10;
  background: white;
  color: white;
  margin: 0;
  padding: 0 0;
  box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4);
  border: 1px solid #969696;
  border-radius: 3px; }
  .MDropdown ul li {
    float: none;
    min-width: 150px; }
  .MDropdown ul a {
    white-space: nowrap;
    display: block; }

.MDropdown ul li:hover > a {
  background: #141414;
  background: -moz-linear-gradient(top, #232323 0%, #141414 100%);
  background: -ms-linear-gradient(top, #232323 0%, #141414 100%);
  background: -o-linear-gradient(top, #232323 0%, #141414 100%);
  background: -webkit-linear-gradient(top, #232323 0%, #141414 100%);
  background: linear-gradient(top, #232323 0%, #141414 100%);
  color: white; }
