/* 
 * MStyle.css by Alan James
 * version 130214
 * recommended Sass version 2.3.1
 */
legend {
  background: white;
  border-radius: .3em;
  border: 0.1em solid #969696;
  font-weight: bold;
  text-align: center; }

.MWidget, fieldset {
  background: #e6e6e6;
  background: -moz-linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  background: -webkit-linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  background: linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  border: 1px solid #969696;
  border-radius: 3px;
  color: #323232;
  display: block;
  padding: 1em;
  text-align: left; }

.MWidgetWide {
  background: #c8c8c8;
  color: #323232;
  margin: 0 auto;
  padding: 1.6em;
  text-align: left; }

.MWidgetTitle {
  font-weight: bold;
  margin: -5px auto 0.8em auto;
  text-align: center;
  display: block; }
