/* 
 * MStyle.css by Alan James
 * version 130510
 * recommended Sass version 2.3.1
 */
.MHBoxLayout * {
  display: inline-block; }
.MHBoxLayout option {
  display: block; }

.MHBoxSpacer {
  height: 100%;
  width: 0.4em; }

.MHBoxSeperator {
  background: none repeat scroll 0 0 #969696;
  height: 100%;
  margin-left: 0.4em;
  margin-right: 0.4em;
  width: 1px; }
