/* 
 * MStyle.css by Alan James
 * version 130510
 * recommended Sass version 2.3.1
 */
.MGlow, .MButton, .MButtonRed, input[type=reset], .MButtonR, .MButtonOrange, .MButtonO, .MButtonYellow, .MButtonY, .MButtonGreen, .MButtonG, .MButtonBlue, input[type=submit], .MButtonB, .MButtonViolet, .MButtonUpload, .MButtonU, .MButtonV, button, input[type=button], .MHButtonGroup * {
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s; }
  .MGlow:hover, .MButton:hover, .MButtonRed:hover, input[type=reset]:hover, .MButtonR:hover, .MButtonOrange:hover, .MButtonO:hover, .MButtonYellow:hover, .MButtonY:hover, .MButtonGreen:hover, .MButtonG:hover, .MButtonBlue:hover, input[type=submit]:hover, .MButtonB:hover, .MButtonViolet:hover, .MButtonUpload:hover, .MButtonU:hover, .MButtonV:hover, button:hover, input[type=button]:hover, .MHButtonGroup :hover {
    border-color: #007dfa;
    box-shadow: 0 0 0.4em #007dfa; }
  .MGlow:active, .MButton:active, .MButtonRed:active, input[type=reset]:active, .MButtonR:active, .MButtonOrange:active, .MButtonO:active, .MButtonYellow:active, .MButtonY:active, .MButtonGreen:active, .MButtonG:active, .MButtonBlue:active, input[type=submit]:active, .MButtonB:active, .MButtonViolet:active, .MButtonUpload:active, .MButtonU:active, .MButtonV:active, button:active, input[type=button]:active, .MHButtonGroup :active {
    border-color: inherit;
    box-shadow: inherit; }

.MGlowText {
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s; }
  .MGlowText:hover {
    border-color: #007dfa;
    text-shadow: 0 0 0.4em #007dfa; }
  .MGlowText:active {
    border-color: inherit;
    text-shadow: inherit; }

.MShadowOuterSmall {
  box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MShadowOuterLarge {
  box-shadow: 0 1.2em 2.4em -0.8em rgba(0, 0, 0, 0.4); }

.MShadowInnerSmall {
  box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MShadowInnerLarge {
  box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MTextShadowSmall {
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MTextShadowLarge {
  text-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MButton, .MButtonRed, input[type=reset], .MButtonR, .MButtonOrange, .MButtonO, .MButtonYellow, .MButtonY, .MButtonGreen, .MButtonG, .MButtonBlue, input[type=submit], .MButtonB, .MButtonViolet, .MButtonUpload, .MButtonU, .MButtonV, button, input[type=button], .MHButtonGroup * {
  background: #e6e6e6;
  background: -moz-linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  background: -webkit-linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  background: linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  border-radius: 3px;
  border: 1px solid #969696;
  color: #323232;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  margin: .2em;
  overflow: hidden;
  padding-left: 0.5em;
  padding-right: 0.5em;
  white-space: nowrap; }
  .MButton:hover, .MButtonRed:hover, input[type=reset]:hover, .MButtonR:hover, .MButtonOrange:hover, .MButtonO:hover, .MButtonYellow:hover, .MButtonY:hover, .MButtonGreen:hover, .MButtonG:hover, .MButtonBlue:hover, input[type=submit]:hover, .MButtonB:hover, .MButtonViolet:hover, .MButtonUpload:hover, .MButtonU:hover, .MButtonV:hover, button:hover, input[type=button]:hover, .MHButtonGroup :hover {
    border-color: #007dfa;
    color: #323232; }
  .MButton:active, .MButtonRed:active, input[type=reset]:active, .MButtonR:active, .MButtonOrange:active, .MButtonO:active, .MButtonYellow:active, .MButtonY:active, .MButtonGreen:active, .MButtonG:active, .MButtonBlue:active, input[type=submit]:active, .MButtonB:active, .MButtonViolet:active, .MButtonUpload:active, .MButtonU:active, .MButtonV:active, button:active, input[type=button]:active, .MHButtonGroup :active {
    background: #646464;
    border-color: #323232;
    box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4);
    color: white; }
  .MButton[disabled], [disabled].MButtonRed, input[disabled][type=reset], [disabled].MButtonR, [disabled].MButtonOrange, [disabled].MButtonO, [disabled].MButtonYellow, [disabled].MButtonY, [disabled].MButtonGreen, [disabled].MButtonG, [disabled].MButtonBlue, input[disabled][type=submit], [disabled].MButtonB, [disabled].MButtonViolet, [disabled].MButtonUpload, [disabled].MButtonU, [disabled].MButtonV, button[disabled], input[disabled][type=button], .MHButtonGroup [disabled], .MButton[disabled]:hover, [disabled].MButtonRed:hover, input[disabled][type=reset]:hover, [disabled].MButtonR:hover, [disabled].MButtonOrange:hover, [disabled].MButtonO:hover, [disabled].MButtonYellow:hover, [disabled].MButtonY:hover, [disabled].MButtonGreen:hover, [disabled].MButtonG:hover, [disabled].MButtonBlue:hover, input[disabled][type=submit]:hover, [disabled].MButtonB:hover, [disabled].MButtonViolet:hover, [disabled].MButtonUpload:hover, [disabled].MButtonU:hover, [disabled].MButtonV:hover, button[disabled]:hover, input[disabled][type=button]:hover, .MHButtonGroup [disabled]:hover, .MButton[disabled]:active, [disabled].MButtonRed:active, input[disabled][type=reset]:active, [disabled].MButtonR:active, [disabled].MButtonOrange:active, [disabled].MButtonO:active, [disabled].MButtonYellow:active, [disabled].MButtonY:active, [disabled].MButtonGreen:active, [disabled].MButtonG:active, [disabled].MButtonBlue:active, input[disabled][type=submit]:active, [disabled].MButtonB:active, [disabled].MButtonViolet:active, [disabled].MButtonUpload:active, [disabled].MButtonU:active, [disabled].MButtonV:active, button[disabled]:active, input[disabled][type=button]:active, .MHButtonGroup [disabled]:active {
    background: #e6e6e6;
    border-color: #969696;
    box-shadow: none;
    cursor: default;
    color: #969696;
    text-shadow: none; }
  .MButton span, .MButtonRed span, input[type=reset] span, .MButtonR span, .MButtonOrange span, .MButtonO span, .MButtonYellow span, .MButtonY span, .MButtonGreen span, .MButtonG span, .MButtonBlue span, input[type=submit] span, .MButtonB span, .MButtonViolet span, .MButtonUpload span, .MButtonU span, .MButtonV span, button span, input[type=button] span, .MHButtonGroup * span {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -webkit-user-select: none;
    font-family: Arial, sans-serif;
    user-select: none; }

.MButtonRed, input[type=reset], .MButtonR {
  background: #960000;
  background: -moz-linear-gradient(top, #fa0000 0%, #960000 100%);
  background: -ms-linear-gradient(top, #fa0000 0%, #960000 100%);
  background: -o-linear-gradient(top, #fa0000 0%, #960000 100%);
  background: -webkit-linear-gradient(top, #fa0000 0%, #960000 100%);
  background: linear-gradient(top, #fa0000 0%, #960000 100%);
  color: white;
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); }
  .MButtonRed:hover, input[type=reset]:hover, .MButtonR:hover {
    color: white; }
  .MButtonRed:active, input[type=reset]:active, .MButtonR:active {
    color: white; }

.MButtonOrange, .MButtonO {
  background: #963c00;
  background: -moz-linear-gradient(top, #fa6400 0%, #963c00 100%);
  background: -ms-linear-gradient(top, #fa6400 0%, #963c00 100%);
  background: -o-linear-gradient(top, #fa6400 0%, #963c00 100%);
  background: -webkit-linear-gradient(top, #fa6400 0%, #963c00 100%);
  background: linear-gradient(top, #fa6400 0%, #963c00 100%);
  color: white;
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); }
  .MButtonOrange:hover, .MButtonO:hover {
    color: white; }
  .MButtonOrange:active, .MButtonO:active {
    color: white; }

.MButtonYellow, .MButtonY {
  background: #fafa00;
  background: -moz-linear-gradient(top, #fafa00 0%, #fafa00 100%);
  background: -ms-linear-gradient(top, #fafa00 0%, #fafa00 100%);
  background: -o-linear-gradient(top, #fafa00 0%, #fafa00 100%);
  background: -webkit-linear-gradient(top, #fafa00 0%, #fafa00 100%);
  background: linear-gradient(top, #fafa00 0%, #fafa00 100%);
  color: #0a0a0a; }
  .MButtonYellow:hover, .MButtonY:hover {
    color: #0a0a0a; }
  .MButtonYellow:active, .MButtonY:active {
    color: white; }

.MButtonGreen, .MButtonG {
  background: #009600;
  background: -moz-linear-gradient(top, #00fa00 0%, #009600 100%);
  background: -ms-linear-gradient(top, #00fa00 0%, #009600 100%);
  background: -o-linear-gradient(top, #00fa00 0%, #009600 100%);
  background: -webkit-linear-gradient(top, #00fa00 0%, #009600 100%);
  background: linear-gradient(top, #00fa00 0%, #009600 100%);
  color: white;
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); }
  .MButtonGreen:hover, .MButtonG:hover {
    color: white; }
  .MButtonGreen:active, .MButtonG:active {
    color: white; }

.MButtonBlue, input[type=submit], .MButtonB {
  background: #004b96;
  background: -moz-linear-gradient(top, #007dfa 0%, #004b96 100%);
  background: -ms-linear-gradient(top, #007dfa 0%, #004b96 100%);
  background: -o-linear-gradient(top, #007dfa 0%, #004b96 100%);
  background: -webkit-linear-gradient(top, #007dfa 0%, #004b96 100%);
  background: linear-gradient(top, #007dfa 0%, #004b96 100%);
  color: white;
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); }
  .MButtonBlue:hover, input[type=submit]:hover, .MButtonB:hover {
    color: white; }
  .MButtonBlue:active, input[type=submit]:active, .MButtonB:active {
    color: white; }

.MButtonViolet, .MButtonUpload, .MButtonU, .MButtonV {
  background: #4b0096;
  background: -moz-linear-gradient(top, #7d00fa 0%, #4b0096 100%);
  background: -ms-linear-gradient(top, #7d00fa 0%, #4b0096 100%);
  background: -o-linear-gradient(top, #7d00fa 0%, #4b0096 100%);
  background: -webkit-linear-gradient(top, #7d00fa 0%, #4b0096 100%);
  background: linear-gradient(top, #7d00fa 0%, #4b0096 100%);
  color: white;
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); }
  .MButtonViolet:hover, .MButtonUpload:hover, .MButtonU:hover, .MButtonV:hover {
    color: white; }
  .MButtonViolet:active, .MButtonUpload:active, .MButtonU:active, .MButtonV:active {
    color: white; }

.MButtonUpload, .MButtonU {
  cursor: default;
  overflow: hidden;
  position: relative;
  text-align: center; }

.MButtonUploadInput, .MButtonUI {
  left: 0;
  top: -0.2em;
  position: absolute;
  width: 100%;
  opacity: 0; }

a.MButton, a.MButtonRed, a.MButtonR, a.MButtonOrange, a.MButtonO, a.MButtonYellow, a.MButtonY, a.MButtonGreen, a.MButtonG, a.MButtonBlue, a.MButtonB, a.MButtonViolet, a.MButtonUpload, a.MButtonU, a.MButtonV, .MHButtonGroup a, div.MButton, div.MButtonRed, div.MButtonR, div.MButtonOrange, div.MButtonO, div.MButtonYellow, div.MButtonY, div.MButtonGreen, div.MButtonG, div.MButtonBlue, div.MButtonB, div.MButtonViolet, div.MButtonUpload, div.MButtonU, div.MButtonV, .MHButtonGroup div, span.MButton, span.MButtonRed, span.MButtonR, span.MButtonOrange, span.MButtonO, span.MButtonYellow, span.MButtonY, span.MButtonGreen, span.MButtonG, span.MButtonBlue, span.MButtonB, span.MButtonViolet, span.MButtonUpload, span.MButtonU, span.MButtonV, .MHButtonGroup span {
  height: 1.45em;
  line-height: 1.45em; }

button.MButton, button.MButtonRed, button.MButtonR, button.MButtonOrange, button.MButtonO, button.MButtonYellow, button.MButtonY, button.MButtonGreen, button.MButtonG, button.MButtonBlue, button.MButtonB, button.MButtonViolet, button.MButtonUpload, button.MButtonU, button.MButtonV, button, .MHButtonGroup button {
  height: 1.6em;
  line-height: 1; }

button {
  cursor: pointer;
  font-size: 1em; }
  button::-moz-focus-inner {
    border: 0; }

.MHButtonGroup {
  margin: 0.2em; }
  .MHButtonGroup * {
    border-radius: 0px;
    float: left;
    margin-left: 0px;
    margin-right: 0px; }
    .MHButtonGroup *:first-child {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px; }
    .MHButtonGroup *:last-child {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px; }
