.MShadowOuterSmall {
  box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MShadowOuterLarge {
  box-shadow: 0 1.2em 2.4em -0.8em rgba(0, 0, 0, 0.4); }

.MShadowInnerSmall {
  box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MShadowInnerLarge {
  box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MTextShadowSmall {
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MTextShadowLarge {
  text-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

#MHeaderPlaceholder {
  background: #141414;
  background: -moz-linear-gradient(top, #232323 0%, #141414 100%);
  background: -ms-linear-gradient(top, #232323 0%, #141414 100%);
  background: -o-linear-gradient(top, #232323 0%, #141414 100%);
  background: -webkit-linear-gradient(top, #232323 0%, #141414 100%);
  background: linear-gradient(top, #232323 0%, #141414 100%);
  height: 2.85em;
  margin: 0 auto;
  width: 100%; }

#MHeader {
  background: #141414;
  background: -moz-linear-gradient(top, #232323 0%, #141414 100%);
  background: -ms-linear-gradient(top, #232323 0%, #141414 100%);
  background: -o-linear-gradient(top, #232323 0%, #141414 100%);
  background: -webkit-linear-gradient(top, #232323 0%, #141414 100%);
  background: linear-gradient(top, #232323 0%, #141414 100%);
  box-shadow: 0 1.2em 2.4em -0.8em rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  height: 2.85em;
  left: 0;
  line-height: 2.85em;
  min-width: 560px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900; }
  #MHeader a {
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    color: #c8c8c8;
    height: 1.3em;
    line-height: 1.3em;
    margin-top: 6px;
    padding-bottom: .35em;
    padding-left: .35em;
    padding-right: .35em;
    padding-top: .35em;
    user-select: none; }
    #MHeader a:hover {
      background: #646464;
      border-radius: 3px;
      box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4);
      color: white;
      text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.5); }
  #MHeader img {
    opacity: 1;
    /*Header images should not be faded in*/ }

.MHeaderSpacer {
  height: 36px;
  width: .4em; }

.MHeaderSeperator {
  background: #969696;
  height: 100%;
  margin-left: .4em;
  margin-right: .4em;
  width: 1px; }

/* Header Unique Items */
#MHeaderHome {
  padding: 0; }
  #MHeaderHome:hover {
    background: none;
    box-shadow: none;
    text-shadow: none; }
  #MHeaderHome img {
    float: left;
    height: 100%; }

#MHeaderSearch {
  margin-top: 6px;
  width: 300px; }

#MHeaderPhoto {
  background: #646464;
  border: 1px solid #969696;
  height: 24px;
  margin-top: .4em;
  width: 24px; }

a#MHeaderMenu {
  background-color: transparent;
  background-image: url("/framework/img/global/header_menu.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 36px;
  margin: 0;
  padding: 0;
  width: 22px; }
  a#MHeaderMenu:hover {
    background-color: transparent;
    background-image: url("/framework/img/global/header_menu.png");
    background-position: 0 -36px;
    background-repeat: no-repeat;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    text-shadow: none; }

a#MHeaderTools {
  background-color: transparent;
  background-image: url("/framework/img/global/header_tools.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 36px;
  margin: 0;
  padding: 0;
  width: 22px; }
  a#MHeaderTools:hover {
    background-color: transparent;
    background-image: url("/framework/img/global/header_tools.png");
    background-position: 0 -36px;
    background-repeat: no-repeat;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    text-shadow: none; }

#MHeaderToolsWide {
  height: 100%; }

#MHeaderMenuDropdown {
  background: white;
  padding: 0;
  position: fixed;
  right: .4em;
  top: 41px;
  z-index: 1200; }
  #MHeaderMenuDropdown li {
    color: #323232;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding-left: 1.6em;
    padding-right: 1.6em; }
    #MHeaderMenuDropdown li:hover {
      background: #141414;
      background: -moz-linear-gradient(top, #232323 0%, #141414 100%);
      background: -ms-linear-gradient(top, #232323 0%, #141414 100%);
      background: -o-linear-gradient(top, #232323 0%, #141414 100%);
      background: -webkit-linear-gradient(top, #232323 0%, #141414 100%);
      background: linear-gradient(top, #232323 0%, #141414 100%);
      color: white; }

#MHeaderLogin {
  position: fixed;
  right: .4em;
  top: 41px;
  z-index: 1200; }
