/* 
 * MStyle.css by Alan James
 * version 130421
 * recommended Sass version 2.3.1
 */
.MHiddenBGFull {
  background: #232323;
  overflow: hidden;
  width: 100%; }

.MHiddenBGMin {
  background: #232323;
  height: 0;
  overflow: hidden;
  width: 100%; }

#MHiddenContent {
  text-align: center; }
