/* 
 * MStyle.css by Alan James
 * version 130422
 * recommended Sass version 2.3.1
 */
.MGlow {
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s; }
  .MGlow:hover {
    border-color: #007dfa;
    box-shadow: 0 0 0.4em #007dfa; }
  .MGlow:active {
    border-color: inherit;
    box-shadow: inherit; }

.MGlowText {
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s; }
  .MGlowText:hover {
    border-color: #007dfa;
    text-shadow: 0 0 0.4em #007dfa; }
  .MGlowText:active {
    border-color: inherit;
    text-shadow: inherit; }

.MShadowOuterSmall {
  box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MShadowOuterLarge {
  box-shadow: 0 1.2em 2.4em -0.8em rgba(0, 0, 0, 0.4); }

.MShadowInnerSmall {
  box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MShadowInnerLarge {
  box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MTextShadowSmall {
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MTextShadowLarge {
  text-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

input[type="email"], input[type="number"], input[type="password"], input[type="text"], input[type="search"], textarea {
  -moz-transition: border-color 0.25s, box-shadow 0.25s, color 0.25s;
  -webkit-transition: border-color 0.25s, box-shadow 0.25s, color 0.25s;
  border: 1px solid #969696;
  border-radius: 3px;
  box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4);
  color: #646464;
  margin: 0 auto;
  padding: 0; }
  input[type="email"]:hover, input[type="email"].MInputInvisible:hover, input[type="number"]:hover, input[type="number"].MInputInvisible:hover, input[type="password"]:hover, input[type="password"].MInputInvisible:hover, input[type="text"]:hover, input[type="text"].MInputInvisible:hover, input[type="search"]:hover, input[type="search"].MInputInvisible:hover, textarea:hover, textarea.MInputInvisible:hover {
    border-color: #007dfa;
    box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4), 0 0 0.4em #007dfa;
    color: #323232; }
  input[type="email"]:focus, input[type="email"].MInputInvisible:hover, input[type="number"]:focus, input[type="number"].MInputInvisible:hover, input[type="password"]:focus, input[type="password"].MInputInvisible:hover, input[type="text"]:focus, input[type="text"].MInputInvisible:hover, input[type="search"]:focus, input[type="search"].MInputInvisible:hover, textarea:focus, textarea.MInputInvisible:hover {
    border-color: #004b96;
    box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4), 0 0 0.4em #004b96;
    color: #323232; }
  input[type="email"][disabled], input[type="email"][disabled]:hover, input[type="email"][disabled]:active, input[type="number"][disabled], input[type="number"][disabled]:hover, input[type="number"][disabled]:active, input[type="password"][disabled], input[type="password"][disabled]:hover, input[type="password"][disabled]:active, input[type="text"][disabled], input[type="text"][disabled]:hover, input[type="text"][disabled]:active, input[type="search"][disabled], input[type="search"][disabled]:hover, input[type="search"][disabled]:active, textarea[disabled], textarea[disabled]:hover, textarea[disabled]:active {
    background: #e6e6e6;
    border-color: #969696;
    box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4);
    color: #969696; }
  input[type="email"].MInputInvisible, input[type="number"].MInputInvisible, input[type="password"].MInputInvisible, input[type="text"].MInputInvisible, input[type="search"].MInputInvisible, textarea.MInputInvisible {
    background: transparent;
    border: 0 none transparent;
    box-shadow: none; }

input[type="email"], input[type="number"], input[type="password"], input[type="text"], input[type="search"] {
  font-size: 1em;
  height: 1.75em; }

textarea {
  font-size: 1em;
  line-height: 2em;
  overflow: visible;
  padding: 0;
  resize: vertical; }
