/* 
 * MStyle.css by Alan James
 * version 130503
 * recommended Sass version 2.3.1
 */
.MListItem {
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 1.2em;
  position: relative; }
  .MListItem.red {
    background: #dcc3c3;
    color: #323232; }
    .MListItem.red:hover {
      background: #e1d5d5; }
  .MListItem.yellow {
    background: #faf5b4;
    color: #323232; }
    .MListItem.yellow:hover {
      background: #f0edcd; }
  .MListItem.green {
    background: #c3dcc3;
    color: #323232; }
    .MListItem.green:hover {
      background: #d5e1d5; }
  .MListItem.active, .MListItem.blue {
    background: #b4d2f0;
    color: #323232; }
    .MListItem.active:hover, .MListItem.blue:hover {
      background: #cddceb; }
  .MListItem:hover {
    background: #e6e6e6; }

.MListIcon {
  float: left;
  margin-right: 15px; }

.MListInfo {
  -o-text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis; }

.MListSeperator {
  background: #646464;
  height: 1px;
  margin-top: 0.4em;
  margin-bottom: 0.4em; }

.MListItemSub {
  background: #c8c8c8;
  border-radius: 3px;
  padding: .4em;
  position: relative; }

.MListSummary {
  display: list-item;
  height: 2em;
  text-overflow: ellipsis;
  width: 100%; }

.MListTitle {
  display: inline;
  margin: 0; }

.MListCitation {
  margin-left: .4em; }

.MListOptions {
  display: inline-block;
  float: right;
  min-width: 300px; }
  .MListOptions a, .MListOptions img, .MListOptions span {
    margin-left: 2px;
    margin-right: 2px; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }
