.MModalBG, .MModalBGBlack, .MModalBGWhite {
  height: 150%;
  left: 0;
  opacity: .8;
  position: fixed;
  top: 0;
  width: 150%;
  z-index: 1500; }

.MModalBGBlack {
  background-color: #0a0a0a; }

.MModalBGWhite {
  background-color: white; }
