/* 
 * MStyle.css by Alan James
 * version 130627
 * recommended Sass version 2.3.1
 */
.MShadowOuterSmall {
  box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MShadowOuterLarge {
  box-shadow: 0 1.2em 2.4em -0.8em rgba(0, 0, 0, 0.4); }

.MShadowInnerSmall {
  box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MShadowInnerLarge {
  box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MTextShadowSmall {
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MTextShadowLarge {
  text-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MNote, .MNoteRed, .MNoteR, .MNoteOrange, .MNoteO, .MNoteYellow, .MNoteY, .MNoteGreen, .MNoteG, .MNoteBlue, .MNoteB, .MNoteViolet, .MNoteV {
  background: #f0f0f0;
  box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4);
  display: inline-block;
  font-weight: normal;
  max-width: 200px;
  padding: 0.4em;
  position: relative; }

.MNoteRed, .MNoteR {
  background: #f26c4f; }

.MNoteOrange, .MNoteO {
  background: #f7941d; }

.MNoteYellow, .MNoteY {
  background: #fff568; }

.MNoteGreen, .MNoteG {
  background: #7cc576; }

.MNoteBlue, .MNoteB {
  background: #448ccb; }

.MNoteViolet, .MNoteV {
  background: #8781bd; }
