/* 
 * MStyle.css by Alan James
 * version 130508
 * recommended Sass version 2.3.1
 */
.MShadowOuterSmall {
  box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MShadowOuterLarge {
  box-shadow: 0 1.2em 2.4em -0.8em rgba(0, 0, 0, 0.4); }

.MShadowInnerSmall {
  box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MShadowInnerLarge {
  box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MTextShadowSmall {
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MTextShadowLarge {
  text-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MPopup {
  box-shadow: 0 1.2em 2.4em -0.8em rgba(0, 0, 0, 0.4);
  left: 50%;
  margin-left: -27.4em;
  position: fixed;
  top: 90px;
  width: 54.8em;
  z-index: 1600; }

.MPopupMenu {
  height: 35px; }

.MPopupList {
  overflow-x: hidden;
  overflow-y: auto; }

.MPopupPreviewContainer {
  text-align: center;
  width: 100%; }

.MPopupPreview {
  max-height: 400px;
  max-width: 640px; }

.MHoverForm {
  box-shadow: 0 1.2em 2.4em -0.8em rgba(0, 0, 0, 0.4);
  left: 50%;
  margin-left: -12em;
  margin-top: -8em;
  position: fixed;
  top: 40%;
  width: 24em;
  z-index: 500; }

.MHoverMessage {
  border-radius: 3px;
  box-shadow: 0 1.2em 2.4em -0.8em rgba(0, 0, 0, 0.4);
  left: 50%;
  line-height: 2.4em;
  margin-left: -18.2em;
  padding: .8em;
  position: fixed;
  text-align: left;
  top: 30%;
  width: 36.4em;
  z-index: 500; }

.MWidget, .MPopup, .MHoverForm, .MHoverMessage {
  background: #e6e6e6;
  background: -moz-linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  background: -webkit-linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  background: linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  border: 1px solid #969696;
  border-radius: 3px;
  box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4);
  color: #323232;
  display: block;
  padding: 1em;
  text-align: left; }

.MWidgetWide {
  background: #c8c8c8;
  color: #323232;
  margin: 0 auto;
  padding: 1.6em;
  text-align: left; }

.MWidgetTitle {
  font-weight: bold;
  margin: -5px auto 0.8em auto;
  text-align: center;
  display: block; }
