.MShadowOuterSmall {
  box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MShadowOuterLarge {
  box-shadow: 0 1.2em 2.4em -0.8em rgba(0, 0, 0, 0.4); }

.MShadowInnerSmall {
  box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MShadowInnerLarge {
  box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MTextShadowSmall {
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MTextShadowLarge {
  text-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MProgressBar, .progess-bar {
  margin: 4px; }
  .MProgressBar .MProgressBarBG, .MProgressBar .progress-bar-bg, .progess-bar .MProgressBarBG, .progess-bar .progress-bar-bg {
    background: #969696;
    border-radius: 2em;
    box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4);
    font-weight: bold;
    height: 1.6em;
    line-height: 1.6em;
    overflow: hidden;
    position: relative;
    text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4);
    width: 100%; }
    .MProgressBar .MProgressBarBG .MProgressBarFG, .MProgressBar .MProgressBarBG .progress-fg, .MProgressBar .progress-bar-bg .MProgressBarFG, .MProgressBar .progress-bar-bg .progress-fg, .progess-bar .MProgressBarBG .MProgressBarFG, .progess-bar .MProgressBarBG .progress-fg, .progess-bar .progress-bar-bg .MProgressBarFG, .progess-bar .progress-bar-bg .progress-fg {
      background: #004b96;
      background: -moz-linear-gradient(left, #004b96 0%, #007dfa 50%, #004b96 100%);
      background: -ms-linear-gradient(left, #004b96 0%, #007dfa 50%, #004b96 100%);
      background: -o-linear-gradient(left, #004b96 0%, #007dfa 50%, #004b96 100%);
      background: -webkit-linear-gradient(left, #004b96 0%, #007dfa 50%, #004b96 100%);
      background: linear-gradient(left, #004b96 0%, #007dfa 50%, #004b96 100%);
      border-radius: 2em;
      box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.4);
      color: white;
      height: 100%;
      width: 0%; }
      .MProgressBar .MProgressBarBG .MProgressBarFG .MProgressBarIndicator, .MProgressBar .MProgressBarBG .MProgressBarFG .progress-indicator, .MProgressBar .MProgressBarBG .progress-fg .MProgressBarIndicator, .MProgressBar .MProgressBarBG .progress-fg .progress-indicator, .MProgressBar .progress-bar-bg .MProgressBarFG .MProgressBarIndicator, .MProgressBar .progress-bar-bg .MProgressBarFG .progress-indicator, .MProgressBar .progress-bar-bg .progress-fg .MProgressBarIndicator, .MProgressBar .progress-bar-bg .progress-fg .progress-indicator, .progess-bar .MProgressBarBG .MProgressBarFG .MProgressBarIndicator, .progess-bar .MProgressBarBG .MProgressBarFG .progress-indicator, .progess-bar .MProgressBarBG .progress-fg .MProgressBarIndicator, .progess-bar .MProgressBarBG .progress-fg .progress-indicator, .progess-bar .progress-bar-bg .MProgressBarFG .MProgressBarIndicator, .progess-bar .progress-bar-bg .MProgressBarFG .progress-indicator, .progess-bar .progress-bar-bg .progress-fg .MProgressBarIndicator, .progess-bar .progress-bar-bg .progress-fg .progress-indicator {
        left: 50%;
        margin-left: -12px;
        position: absolute; }
