/* 
 * MStyle.css by Alan James
 * version 1305
 * recommended Sass version 2.3.1
 */
.MShadowOuterSmall {
  box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MShadowOuterLarge {
  box-shadow: 0 1.2em 2.4em -0.8em rgba(0, 0, 0, 0.4); }

.MShadowInnerSmall {
  box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MShadowInnerLarge {
  box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MTextShadowSmall {
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); }

.MTextShadowLarge {
  text-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4); }

.MRatingsBar {
  margin: 4px; }
  .MRatingsBar .MRatingsBarBG {
    background: #960000;
    border-radius: 2em;
    box-shadow: inset 0 1px 0.2em rgba(0, 0, 0, 0.5);
    height: .8em;
    overflow: hidden;
    width: 100%; }
    .MRatingsBar .MRatingsBarBG .MRatingsBarFG {
      background: #009600;
      background: -moz-linear-gradient(left, #009600 0%, #00fa00 50%, #009600 100%);
      background: -ms-linear-gradient(left, #009600 0%, #00fa00 50%, #009600 100%);
      background: -o-linear-gradient(left, #009600 0%, #00fa00 50%, #009600 100%);
      background: -webkit-linear-gradient(left, #009600 0%, #00fa00 50%, #009600 100%);
      background: linear-gradient(left, #009600 0%, #00fa00 50%, #009600 100%);
      border-radius: 2em;
      box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.4);
      height: 100%;
      width: 0%; }
  .MRatingsBar .MRatingsBarWarning {
    background: #faC800;
    background: -moz-linear-gradient(left, #fafa00 0%, #fafa00 50%, #fafa00 100%);
    background: -ms-linear-gradient(left, #fafa00 0%, #fafa00 50%, #fafa00 100%);
    background: -o-linear-gradient(left, #fafa00 0%, #fafa00 50%, #fafa00 100%);
    background: -webkit-linear-gradient(left, #fafa00 0%, #fafa00 50%, #fafa00 100%);
    background: linear-gradient(left, #fafa00 0%, #fafa00 50%, #fafa00 100%);
    border-radius: 2em;
    box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.4);
    height: .8em;
    width: 100%; }
