/* 
 * MStyle.css by Alan James
 * version 130310
 * recommended Sass version 2.3.1
 */
#MStage {
  background-color: #646464;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #646464;
  overflow: hidden;
  text-align: center;
  width: 100%; }

#MStageImage {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  width: 100%; }
