/* 
 * MStyle.css by Alan James
 * version 130519
 * recommended Sass version 2.3.1
 */
* {
  border: 0px;
  margin: 0px;
  padding: 0px; }

body {
  background: #c8c8c8;
  text-align: left; }

.MWidgetContainerFrame {
  background: #c8c8c8;
  border-style: none;
  color: #323232;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  text-align: left;
  width: 100%; }
