$shadow_outer_large:0 1.2em 2.4em -.8em rgba(0,0,0,.4);

$shadow_outer_small:0 .2em .35em rgba(0,0,0,.4);

$shadow_inner_large:inset 0 .2em .35em rgba(0,0,0,.4);

$shadow_inner_small:inset 0 0 .4em rgba(0,0,0,.4);

$shadow_text_small:inset 0 0 .4em rgba(0,0,0,.4);

.shadow_outer_small{
  box-shadow:$shadow_outer_small;
}

.shadow_outer_large{
  box-shadow:$shadow_outer_large;
}

.shadow_inner_small{
  box-shadow:$shadow_inner_small; 
}

.shadow_inner_large{
  box-shadow:$shadow_inner_large;
}

.shadow_top{
  background:url("/framework/img/global/shadow_top.png") repeat-x;
  clear:both;
  height:2.4em;
  margin:0 auto;
  width:100%;
}

.shadow_bottom{
  background:url("/framework/img/global/shadow_bottom.png") repeat-x;
  clear:both;
  height:2.4em;
  margin:0 auto;
  width:100%;
}