$shadow_outer_large:0 1.2em 2.4em -.8em rgba(0,0,0,.4);
$shadow_outer_small:0 .2em .35em rgba(0,0,0,.4);

$shadow_inner_large:inset 0 .2em .35em rgba(0,0,0,.4);
$shadow_inner_small:inset 0 0 .4em rgba(0,0,0,.4);

$shadow_text_large:0 .2em .35em rgba(0,0,0,.4);
$shadow_text_small:0 0 .4em rgba(0,0,0,.4);

// Classes

.MShadowOuterSmall{
  box-shadow:$shadow_outer_small;
}

.MShadowOuterLarge{
  box-shadow:$shadow_outer_large;
}

.MShadowInnerSmall{
  box-shadow:$shadow_inner_small; 
}

.MShadowInnerLarge{
  box-shadow:$shadow_inner_large;
}

.MTextShadowSmall{
  text-shadow:$shadow_text_small;
}

.MTextShadowLarge{
  text-shadow:$shadow_text_large;
}