.MContent{
  margin:0 auto;
  text-align:left;
}

.MContentList{@extend .MContent;
  width:80%;
}

.MContent1000{@extend .MContent;
  width:1000px;
}

.MContent960{@extend .MContent;
  width:960px;
}

.MContent900{@extend .MContent;
  width:900px;
}

.MContent870{@extend .MContent;
  width:870px;
}

.MContent840{@extend .MContent;
  width:840px;
}

.MContent800{@extend .MContent;
  width:800px;
}

.MContent740{@extend .MContent;
  width:740px;
}

.MContent700{@extend .MContent;
  width:700px;
}

.MContent610{@extend .MContent;
  width:610px;
}

.MContent600{@extend .MContent;
  width:600px;
}

.MContent500{@extend .MContent;
  width:500px;
}

.MContent400{@extend .MContent;
  width:400px;
}

.MContent300{@extend .MContent;
  width:300px;
}

.MContent200{@extend .MContent;
  width:200px;
}

.MContent100{@extend .MContent;
  width:100px;
}

.MContentSpacer{
  clear:both;
  height:0;
  padding-top:1.2em;
  padding-bottom:1.2em;
}

.MTableSpacer{
  height:2.4em;
}
