#MContentList{
  margin:0 auto;
  min-width:900px;
  width:80%;
}

.MContent900{
  margin:0 auto;
  width:900px;
}

.MContent870{
  margin:0 auto;
  width:870px;
}

.MContent840{
  margin:0 auto;
  width:840px;
}

.MContent740{
  margin:0 auto;
  width:740px;
}

.MContent610{
  text-align:left;
  width:610px;
}

.MContent200{
  text-align:center;
  width:200px;
}

.MContentSpacer{
  clear:both;
  height:0;
  padding-top:1.2em;
  padding-bottom:1.2em;
}

.MTableSpacer{
  height:2.4em;
}
