#MHeaderPlaceholder{
  background:#141414;
  height:2.85em;
  margin:0 auto;
  width:100%;
}

#MHeader{
  background:#141414;
  background:-moz-linear-gradient(top, #232323 0%, #141414 100%);
  background:-ms-linear-gradient(top, #232323 0%,#141414 100%);
  background:-o-linear-gradient(top, #232323 0%,#141414 100%);
  background:-webkit-linear-gradient(top, #232323 0%,#141414 100%);
  background:linear-gradient(top, #232323 0%,#141414 100%);
  box-shadow:$shadow_large;
  color:$mono_6;
  height:2.85em;
  left:0;
  line-height:2.85em;
  min-width:560px;
  overflow:hidden;
  position:fixed;
  top:0;
  width:100%;
  z-index:900;
  
  a{
  -moz-user-select:none;
  -o-user-select:none;
  -webkit-user-select:none;
  color:#c8c8c8;
  height:1.3em;
  line-height:1.3em;
  margin-top:6px;
  padding-bottom:.35em;
  padding-left:.35em;
  padding-right:.35em;
  padding-top:.35em;
  user-select:none;
  
    &:hover{
      background-color:$mono_3;
      border-radius:.3em;
      box-shadow:$shadow_inset_bg;
      color:$mono_6;
      text-shadow:0 0 .4em rgba(0,0,0,.5);
    }
    
  }
  
  img{
    opacity:1;/*Header images should not be faded in*/
  }
  
}

.MHeaderSpacer{
  height:36px;
  width:.4em;
}

.MHeaderSeperator{
  background:$mono_3;
  height:100%;
  margin-left:.4em;
  margin-right:.4em;
  width:.1em;
}

/* Header Unique Items */

a#MHeaderHome{
  margin-top:.3em;
  padding:0;
  width:86px;
  
  &:hover{
    background:none;
    box-shadow:none;
    text-shadow:none;
  }
  
}

#MHeaderSearch{
  margin-top:6px;
  width:300px;
}

#MHeaderUserPhoto{
  background:$mono_3;
  border:.1em solid $mono_3;
  height:24px;
  margin-top:.4em;
  width:24px;
}

a#MHeaderMenu{
  background-color:transparent;
  background-image:url("/framework/img/global/header_menu.png");
  background-position:0 0;
  background-repeat:no-repeat;
  height:36px;
  margin:0;
  padding:0;
  width:22px;
  
  &:hover{
    background-color:transparent;
    background-image:url("/framework/img/global/header_menu.png");
    background-position:0 -36px;
    background-repeat:no-repeat;
    border-radius:0;
    box-shadow:none;
    margin:0;
    padding:0;
    text-shadow:none;
  }
  
}

a#MHeaderTools{
  background-color:transparent;
  background-image:url("/framework/img/global/header_tools.png");
  background-position:0 0;
  background-repeat:no-repeat;
  height:36px;
  margin:0;
  padding:0;
  width:22px;
  
  &:hover{
    background-color:transparent;
    background-image:url("/framework/img/global/header_tools.png");
    background-position:0 -36px;
    background-repeat:no-repeat;
    border-radius:0;
    box-shadow:none;
    margin:0;
    padding:0;
    text-shadow:none;
  }
  
}

#MHeaderToolsWide{
  height:100%;
}

#MHeaderMenuDropdown{
  background:$mono_6;
  padding:0;
  position:fixed;
  right:.4em;
  top:41px;
  z-index:1200;
}

#MHeaderMenuDropdown li{
  color:$mono_2;
  font-weight:bold;
  height:40px;
  line-height:40px;
  overflow:hidden;
  padding-left:1.6em;
  padding-right:1.6em;
  
  &:hover{
    background:#141414;
    background:-moz-linear-gradient(top, #232323 0%, #141414 100%);
    background:-ms-linear-gradient(top, #232323 0%,#141414 100%);
    background:-o-linear-gradient(top, #232323 0%,#141414 100%);
    background:-webkit-linear-gradient(top, #232323 0%,#141414 100%);
    background:linear-gradient(top, #232323 0%,#141414 100%);
    color:$mono_6;
  }
  
}

#MHeaderLogin{
  position:fixed;
  right:.4em;
  top:41px;
  z-index:1200;
}
