.MHiddenBGFull, .hidden-bg-full{
  background:$mono_1_3;
  overflow:hidden;
  width:100%;
}

.MHiddenBGMin, .hidden-bg-min{
  background:$mono_1_3;
  height:0;
  overflow:hidden;
  width:100%;
}

#MHiddenContent, #hidden-contet{
  text-align:center;
}
