.MHR{
  background:$mono_3;
  border: 0;
  height:1px;
  width:100%;
} 

hr{@extend .MHR;}

/*
hr{
  background:url("/framework/img/global/hr.png") repeat-x;
  border:0;
  height:.2em;
  margin:0;
}
*/