input[type="number"], input[type="password"], input[type="text"], textarea{
  -moz-transition:border-color $speedNorm, box-shadow 0.25s, color $speedNorm;
  -webkit-transition:border-color $speedNorm, box-shadow 0.25s, color $speedNorm;
  border: 1px solid $mono_3;
  border-radius:$rounded;
  box-shadow:$shadow_inner_large;
  color:$mono_3;
  margin:0 auto;
  padding:0;
  
  &:hover, &.input_invisible:hover{
    border-color:$blue_2;
    box-shadow:$shadow_inner_large, $glow;
    color:$mono_2;
  }
  
  &:focus, &.input_invisible:hover{
    border-color:$blue_1;
    box-shadow:$shadow_inner_large, $glow_light;
    color:$mono_2;
  }
  
  &[disabled], &[disabled]:hover, &[disabled]:active{
    background:$mono_5;
    border-color:$mono_4;
    box-shadow:$shadow_inner_large;
    color:$mono_4;
  }
  
  &.input_invisible{
    border:0 none transparent;
    box-shadow:none;
  }

}

input{
  &[type="number"], &[type="password"], &[type="text"]{
    font-size:1em;
    height:1.75em;
  }
}

textarea{
  font-size:1em;
  line-height:2em;
  overflow:visible;
  padding:0;
  resize:vertical;
}