.MList li, .MListItem{
  border-radius:$rounded;
  margin-top:2px;
  margin-bottom:2px;
  padding:1.2em;
  position:relative;

  &.red{
    background:#dcc3c3;
    color:$mono_2;
    
    &:hover{
      background:#e1d5d5;
    }
  }

  &.yellow{
    background:#faf5b4;
    color:$mono_2;
    
    &:hover{
      background:#f0edcd;
    }
  }

  &.green{
    background:#c3dcc3;
    color:$mono_2;
    
    &:hover{
      background:#d5e1d5;
    }
  }

  &.active, &.blue{
    background:#b4d2f0;
    color:$mono_2;
    
    &:hover{
      background:#cddceb;
    }
  }

  &:hover{
    background:$mono_5;
  }

}

.MListSeperator{
  background: #646464;
  height:1px;
  margin-top:0.4em;
  margin-bottom:0.4em;
}

.MListItemSub{
  background:$mono_4_2;
  border-radius:$rounded;
  padding:.4em;
  position:relative;
}

.MListInfo{
  -o-text-overflow:ellipsis;
  display:block;
  overflow:hidden;
  text-overflow:ellipsis;
}

.MListSummary{
  display:list-item;
  height:2em;
  text-overflow:ellipsis;
  width:100%;
}

.MListTitle{
  display:inline;
  margin:0;
}

.MListCitation{
  margin-left:.4em;
}

.MListOptions{
  display:inline-block;
  float:right;
  min-width:300px;
  
  a, img, span{
    margin-left:2px;
    margin-right:2px;
  }
  
}

ul{
  margin:0;
  padding:0;
}

li{
 list-style-type:none; 
}