// @Author Alan James - alanjames1987@gmail.com

.MListSummary{
  display:list-item;
  height:2em;
  text-overflow:ellipsis;
  width:100%;
}

.MListTitle{
  display:inline;
  margin:0;
}

.MListCitation{
  margin-left:.4em;
}

.MListOptions{
  display:inline-block;
  float:right;
  min-width:300px;
  
  a, img, span{
    margin-left:2px;
    margin-right:2px;
  }
  
}

.MListItemContainer{
  border-radius:$rounded;
  opacity:0;
  padding:1.2em;
  position:relative;

  &.red{
    background:#dcc3c3;
    color:$mono_2;
    
    &:hover{
      background:#e1d5d5;
    }
  }

  &.yellow{
    background:#faf5b4;
    color:$mono_2;
    
    &:hover{
      background:#f0edcd;
    }
  }

  &.green{
    background:#c3dcc3;
    color:$mono_2;
    
    &:hover{
      background:#d5e1d5;
    }
  }

  &.blue{
    background:#b4d2f0;
    color:$mono_2;
    
    &:hover{
      background:#cddceb;
    }
  }

  &:hover{
    background:$mono_5;
  }

}

.MListItemContainerSub{
  background:$mono_4_2;
  border-radius:$rounded;
  padding:.4em;
  position:relative;
}

.MListInfoContainer{
  -o-text-overflow:ellipsis;
  display:block;
  overflow:hidden;
  text-overflow:ellipsis;
}

ul{
  margin:0;
  padding:0;
}

li{
 list-style-type:none; 
}