.MNote, .note{
  background: #f0f0f0;
  box-shadow: $shadow_outer_small;
  display: inline-block;
  font-weight: normal;
  max-width: 200px;
  padding: 0.4em;
  position: relative;
}

.MNoteRed, .MNoteR, .note-red, .note-r{@extend .MNote;
  background:$red_2;
}

.MNoteOrange, .MNoteO, .note-orange, .note-o{@extend .MNote;
  background:$orange_2;
}

.MNoteYellow, .MNoteY, .note-yellow, .note-y{@extend .MNote;
  background:#fff046
}

.MNoteGreen, .MNoteG, .note-green, .note-g{@extend .MNote;
  background:$green_2;
}

.MNoteBlue, .MNoteB, .note-blue, .note-b{@extend .MNote;
  background:$blue_2;
}

.MNoteViolet, .MNoteV, .note-violet, .note-v{@extend .MNote;
  background:$violet_2;
}

