.MNote{
  background: #f0f0f0;
  box-shadow: $shadow_outer_small;
  display: inline-block;
  font-weight: normal;
  max-width: 200px;
  padding: 0.4em;
  position: relative;
}

.MNoteRed, .MNoteR{@extend .MNote;
  background:#f26c4f;
}

.MNoteOrange, .MNoteO{@extend .MNote;
  background: #f7941d;
}

.MNoteYellow, .MNoteY{@extend .MNote;
  background: #fff568;
}

.MNoteGreen, .MNoteG{@extend .MNote;
  background: #7cc576;
}

.MNoteBlue, .MNoteB{@extend .MNote;
  background: #448ccb;
}

.MNoteViolet, .MNoteV{@extend .MNote;
  background: #8781bd;
}
