.MPopup{@extend .MWidget;
  box-shadow:$shadow_outer_large;
  left:50%;
  margin-left:-27.4em;
  position:fixed;
  top:90px;
  width:54.8em;
  z-index:1600;
}

.MPopupMenu{
  height:35px;
}

.MPopupList{
  overflow-x:hidden;
  overflow-y:auto;
}

.MPopupPreviewContainer{
  text-align:center;
  width:100%;
}

.MPopupPreview{
  max-height:400px;
  max-width:640px;
}

.MHoverForm{@extend .MWidget;
  box-shadow:$shadow_outer_large;
  left:50%;
  margin-left:-12em;
  margin-top:-8em;
  position:fixed;
  top:40%;
  width:24em;
  z-index:500;
}

.MHoverMessage{@extend .MWidget;
  border-radius:$rounded;
  box-shadow:$shadow_outer_large;
  left:50%;
  line-height:2.4em;
  margin-left:-18.2em;
  padding:.8em;
  position:fixed;
  text-align:left;
  top:30%;
  width:36.4em;
  z-index:500;
}