.MProgressBar{
  margin:4px;
  
  .MProgressBarBG{
    background:$mono_4;
    border-radius:$rounded_large;
    box-shadow:$shadow_inner_large;
    font-weight:bold;
    height:1.6em;
    line-height:1.6em;
    overflow:hidden;
    position:relative;
    text-shadow:$shadow_text_small;
    width:100%;
  
    .MProgressBarFG{
      background:$blue_1;
      background:-moz-linear-gradient(left, $blue_1 0%, $blue_2 50%, $blue_1 100%);
      background:-ms-linear-gradient(left, $blue_1 0%,$blue_2 50%,$blue_1 100%);
      background:-o-linear-gradient(left, $blue_1 0%,$blue_2 50%,$blue_1 100%);
      background:-webkit-linear-gradient(left, $blue_1 0%,$blue_2 50%,$blue_1 100%);
      background:linear-gradient(left, $blue_1 0%,$blue_2 50%,$blue_1 100%);
      border-radius:$rounded_large;
      box-shadow:$shadow_inner_small;
      color:$mono_6;
      height:100%;
      width:0%;
      
      .MProgressBarIndicator{
      	left:50%;
      	margin-left:-12px;
      	position:absolute;
      }
      
    }
  
  }
  
}