#MSideBarTriggerLeft{
  height:100%;
  left:0;
  position:fixed;
  top:0;
  width:.8em;
  z-index:100;
}

#MSideBarTriggerRight{
  height:100%;
  position:fixed;
  right:0;
  top:0;
  width:.8em;
  z-index:100;
}

#MSideBarTriggerLeftIndicator{
  background:-moz-linear-gradient(left, rgba(0,125,250,1) 0%, rgba(0,125,250,0) 100%);
  background:-ms-linear-gradient(left, rgba(0,125,250,1) 0%,rgba(0,125,250,0) 100%);
  background:-o-linear-gradient(left, rgba(0,125,250,1) 0%,rgba(0,125,250,0) 100%);
  background:-webkit-linear-gradient(left, rgba(0,125,250,1) 0%,rgba(0,125,250,0) 100%);
  background:linear-gradient(left, rgba(0,125,250,1) 0%,rgba(0,125,250,0) 100%);
  height:100%;
  left:-.8em;
  position:fixed;
  top:0;
  width:.8em;
  z-index:150;
}

#MSideBarTriggerRightIndicator{
  background:-moz-linear-gradient(right, rgba(0,125,250,1) 0%, rgba(0,125,250,0) 100%);
  background:-ms-linear-gradient(right, rgba(0,125,250,1) 0%,rgba(0,125,250,0) 100%);
  background:-o-linear-gradient(right, rgba(0,125,250,1) 0%,rgba(0,125,250,0) 100%);
  background:-webkit-linear-gradient(right, rgba(0,125,250,1) 0%,rgba(0,125,250,0) 100%);
  background:linear-gradient(right, rgba(0,125,250,1) 0%,rgba(0,125,250,0) 100%);
  height:100%;
  position:fixed;
  right:-.8em;
  top:0;
  width:.8em;
  z-index:150;
}

#MSideBarContainer{
  min-width:352px;
  width:352px;
}

.MSideBarLeft{
  left:0px;
}

.MSideBarLeftHidden{
  left:-360px;
}

.MSideBarRight{
  right:0px;
}

.MSideBarRightHidden{
  right:-360px;
}

.MSideBarMenu{
  background:$mono_4_2;
  background:-moz-linear-gradient(top, $mono_5 0%, $mono_4_2 100%);
  background:-ms-linear-gradient(top, $mono_5 0%,$mono_4_2 100%);
  background:-o-linear-gradient(top, $mono_5 0%,$mono_4_2 100%);
  background:-webkit-linear-gradient(top, $mono_5 0%,$mono_4_2 100%);
  background:linear-gradient(top, $mono_5 0%,$mono_4_2 100%);
  border-bottom:solid 1px $mono_3;
  min-height:1.75em;
  overflow:hidden;
  padding:.35em;
  text-align:center;
}

#MSideBarMenuFixed{@extend .MSideBarMenu;
  left:0px;
  padding-bottom:0px;
  position:fixed;
  width:343px;
  z-index:50;
}

#MSideBarMenuFixedPlaceholder{@extend .MSideBarMenu;
  padding-bottom:0px;
}

#MSideBar a{
  color:$mono_2;
  
  &:hover{
    color:$mono_6;
  }
 
}

#MSideBar{
  background:#f0f0f0;
  border-left:solid 1px $mono_3;
  border-right:solid 1px $mono_3;
  overflow-x:hidden;
  overflow-y:auto;
  position:fixed;
  text-align:left;
  top:0;
  width:350px;
  z-index:200;
  
  .MSideBarListItem, .MSideBarItem{
    color:$mono_2;
    overflow:hidden;
    padding:1em;
    
    label, span{
      font-weight:bold;
    }
    
    &:hover{
      background:$mono_1_2;
      background:-moz-linear-gradient(top, $mono_1_3 0%, $mono_1_2 100%);
      background:-ms-linear-gradient(top, $mono_1_3 0%,$mono_1_2 100%);
      background:-o-linear-gradient(top, $mono_1_3 0%,$mono_1_2 100%);
      background:-webkit-linear-gradient(top, $mono_1_3 0%,$mono_1_2 100%);
      background:linear-gradient(top, $mono_1_3 0%,$mono_1_2 100%);
      color:$mono_6;
    }
    
    &.active, &.blue{
      background:#b4d2f0;
      color:$mono_2;
        
      &:hover{
        background:#647382;
        background:-moz-linear-gradient(top, #6b7a89 0%, #647382 100%);
        background:-ms-linear-gradient(top, #6b7a89 0%,#647382 100%);
        background:-o-linear-gradient(top, #6b7a89 0%,#647382 100%);
        background:-webkit-linear-gradient(top, #6b7a89 0%,#647382 100%);
        background:linear-gradient(top, #6b7a89 0%,#647382 100%);
        color:$mono_6;
      }
      
    }
    
  }
  
}

.MSideBarThumbnail{
  height:3.95em;
  margin-left:.35em;
  margin-right:.35em;
  margin:.2em;
}
