// @Author Alan James - alanjames1987@gmail.com

.MTip{
  font-size:.85em;
  padding:.4em;
  position:absolute;
  z-index:15000;
}

.MTipInner{
  background:$mono_1_2;
  background:-moz-linear-gradient(top, $mono_1_3 0%, $mono_1_2 100%);
  background:-ms-linear-gradient(top, $mono_1_3 0%,$mono_1_2 100%);
  background:-o-linear-gradient(top, $mono_1_3 0%,$mono_1_2 100%);
  background:-webkit-gradient(linear, left top, left bottom, from($mono_1_3), to($mono_1_2));
  background:-webkit-linear-gradient(top, $mono_1_3 0%,$mono_1_2 100%);
  background:linear-gradient(top, $mono_1_3 0%,$mono_1_2 100%);
  border-radius:$rounded;
  border-top:solid 1px $mono_3;
  color:$mono_6;
  font-weight:bold;
  max-width:350px;
  padding:0 8px 0 8px;
  text-align:center;
}

.MTipArrow{
  border:$rounded dashed $mono_1_2;
  height:0;
  line-height:0;
  position:absolute;
  width:0;
}

.MTipArrowN{
  border-bottom-color:$mono_1_2;
}

.MTipArrowS{
  border-top-color:$mono_1_2;
}

.MTipArrowE{
  border-left-color:$mono_1_2;
}

.MTipArrowW{
  border-right-color:$mono_1_2;
}

.MTipN .MTipArrow{
  border-bottom-style:solid;
  border-left-color:transparent;
  border-right-color:transparent;
  border-top:none;
  left:50%;
  margin-left:-5px;
  top:0;
}

.MTipNW .MTipArrow{
  border-bottom-style:solid;
  border-left-color:transparent;
  border-right-color:transparent;
  border-top:none;
  left:.8em;
  top:0;
}

.MTipNE .MTipArrow{
  border-bottom-style:solid;
  border-left-color:transparent;
  border-right-color:transparent;
  border-top:none;
  right:.8em;
  top:0;
}

.MTipS .MTipArrow{
  border-bottom:none;
  border-left-color:transparent;
  border-right-color:transparent;
  border-top-style:solid;
  bottom:0;
  left:50%;
  margin-left:-5px;
}

.MTipSW .MTipArrow{
  border-bottom:none;
  border-left-color:transparent;
  border-right-color:transparent;
  border-top-style:solid;
  bottom:0;
  left:.8em;
}

.MTipSE .MTipArrow{
  border-bottom:none;
  border-left-color:transparent;
  border-right-color:transparent;
  border-top-style:solid;
  bottom:0;
  right:.8em;
}

.MTipE .MTipArrow{
  border-bottom-color:transparent;
  border-left-style:solid;
  border-right:none;
  border-top-color:transparent;
  margin-top:-5px;
  right:0;
  top:50%;
}

.MTipW .MTipArrow{
  border-bottom-color:transparent;
  border-left:none;
  border-right-style:solid;
  border-top-color:transparent;
  left:0;
  margin-top:-5px;
  top:50%;
}
