// @Author Alan James - alanjames1987@gmail.com

*{
  -moz-user-select:-moz-none;
  -o-user-select:none;
  -webkit-user-select:none;
  font-family:$font;
  user-select:none;
}

*:focus{
  outline:none;
}

html{
  height:100%;
}

a, h1, h2, h3, h4, h5, h6, input, label, p, span, td, textarea{
  -moz-user-select:text;
  -o-user-select:auto;
  -webkit-user-select:auto;
  user-select:auto;
}

a{
  color:$blue_1;
  cursor:pointer;
  text-decoration:none;
  
  &:hover{
    color:$blue_2;
  }
  
}

body{
  border:0;
  color:$mono_2;
  font-size:.8em;
  height:100%;
  line-height:2;
  margin:0 auto;
  padding:0;
  text-align:center;
}

iframe{
  border:0;
}

img{
  border-style:none;
}

input{
    
  &[type="checkbox"], &[type="radio"]{
    border-style:none;
    box-shadow:none;
    cursor:pointer;
    display:inline;
    margin-right:.4em;
  } 

}

label{
  cursor:pointer;
}
