.MTextLeft, .text_left{
  text-align:left;
}

.MTextCenter, .MTextCentered, .text_center, .text_centered{
  text-align:center;
}

.MTextRight, .text_right{
  text-align:right;
}

.MLeft, .float_left, .left{
  float:left;
}

.MRight, .float_right, .right{
  float:right;
}

.MClear, .clear, .clearfix{
  clear:both;
}

.MHide, .MHiden, .hide, .hidden{
  display:none;
}

.MShow, .MShown, .show, .shown{
  display:block;
}

.MCursorPointer, .cursor_pointer{
  cursor:pointer;
}

.MCursorMove, .cursor_move{
  cursor:move;
}

.MWidthFull, .width_full{
  width:100%;
}

.MHeightFull, .height_full{
  height:100%;
}

.MPaddingSmall, .padding_small{
  padding:15px;
}

.MPadding, .padding{
  padding:30px;
}

.MPaddingLarge, .padding_large{
  padding:45px;
}

.MTableFixedWidth, .table_fixed_width{
  table-layout:fixed;
}

.MTableBorder, .table_border{
  border:.1em solid $mono_3;
  border-collapse:collapse;
  margin:0;
  
  td{
    border:.1em solid $mono_3;
    margin:0;
  }
  
}

.MTableCenter, .table_center{
  
  td{
    text-align:center;
  }

}

.MIntent, .intent {
  background: #00ff00;
  color: #ff00ff;
}