.text_left{
  text-align:left;
}

.text_centered{
  text-align:center;
}

.text_right{
  text-align:right;
}

.left, .float_left{
  float:left;
}

.right, .float_right{
  float:right;
}

.clear, .clearfix{
  clear:both;
}

.hide, .hidden{
  display:none;
}

.show, .shown{
  display:block;
}

.cursor_pointer{
  cursor:pointer;
}

.cursor_move{
  cursor:move;
}

.width_full{
  width:100%;
}

.height_full{
  height:100%;
}

.table_fixed_width{
  table-layout:fixed;
}

.table_top td{
  vertical-align:top;
}

.table_border{
  border:.1em solid $mono_3;
  border-collapse:collapse;
  margin:0;
  
  td{
    border:.1em solid $mono_3;
    margin:0;
  }
  
}

.table_center{
  
  td{
    text-align:center;
  }

}
