a, h1, h2, h3, h4, h5, h6, input, label, p, span, textarea,{
  
  &.MTextBold{
    font-weight:bold;
  }
  
  &.MTextItalic{
    font-style: italic;
  }

  &.MTextRed{
    color:$red_1;
  }
  
  &.MTextOrange{
    color:$orange_1;
  }

  &.MTextYellow{
    color:$yellow_1;
  }

  &.MTextGreen{
    color:$green_1;
  }

  &.MTextBlue{
    color:$blue_1;
  }

  &.MTextViolet{
    color:$violet_1;
  }

  &.MTextBlack{
    color:$mono_1;
  }
  
  &.MTextWhite{
    color:$mono_6;
  }

}

h1{
  font-size:2em;
  margin: 0.5em 0;
}

h2{
  font-size:1.8em;
  margin: 0.5em 0;
}

h3{
  font-size:1.6em;
  margin: 0.5em 0;
}

h4{
  font-size:1.4em;
  margin: 0.5em 0;
}

h5{
  font-size:1.2em;
  margin: 0.5em 0;
}

h6{
  font-size:1em;
  margin: 0.5em 0;
}
