a, h1, h2, h3, h4, h5, h6, input, label, p, span, textarea,{
  
  &.MTextBold{
    font-weight:bold;
  }
  
  &.MTextItalics{
    font-style: italic;
  }

  &.MTextRed{
    color:$red_1;
  }
  
  &.MTextOrange{
    color:$orange_1;
  }

  &.MTextYellow{
    color:$yellow_1;
  }

  &.MTextGreen{
    color:$green_1;
  }

  &.MTextBlue{
    color:$blue_1;
  }

  &.MTextViolet{
    color:$violet_1;
  }

  &.MTextBlack{
    color:$mono_1;
  }
  
  &.MTextWhite{
    color:$mono_6;
  }

}
