.MRatingsBarBG{
  background:$red_1;
  border-radius:2em;
  box-shadow:inset 0 1px .2em rgba(0,0,0,.5);
  height:.8em;
  overflow:hidden;
  width:100%;
  
  .MRatingsBarFG{
    background:$green_1;
    background:-moz-linear-gradient(left, $green_1 0%, $green_2 50%, $green_1 100%);
    background:-ms-linear-gradient(left, $green_1 0%, $green_2 50%, $green_1 100%);
    background:-o-linear-gradient(left, $green_1 0%, $green_2 50%, $green_1 100%);
    background:-webkit-linear-gradient(left, $green_1 0%, $green_2 50%, $green_1 100%);
    background:linear-gradient(left, $green_1 0%, $green_2 50%, $green_1 100%);
    border-radius:2em;
    box-shadow:inset 0 0 .4em rgba(0,0,0,.5);
    height:100%;
    width:0%;
  }
  
}

.MRatingsBarWarning{
  background:#faC800;
  background:-moz-linear-gradient(left, #fac800 0%, $yellow_2 50%, #fac800 100%);
  background:-ms-linear-gradient(left, #fac800 0%, $yellow_2 50%, #fac800 100%);
  background:-o-linear-gradient(left, #fac800 0%, $yellow_2 50%, #fac800 100%);
  background:-webkit-linear-gradient(left, #fac800 0%, $yellow_2 50%, #fac800 100%);
  background:linear-gradient(left, #fac800 0%, $yellow_2 50%, #fac800 100%);
  border-radius:2em;
  box-shadow:inset 0 0 .4em rgba(0,0,0,.5);
  height:.8em;
  width:100%
}

.MProgressBarContainer{
  margin:4px;
  
  .MProgressBarBG{
  background:$mono_4;
  border-radius:2em;
  box-shadow:$shadow_inset_bg;
  font-weight:bold;
  height:1.6em;
  line-height:1.6em;
  overflow:hidden;
  position:relative;
  text-shadow:0 0 .4em rgba(0,0,0,.5);
  width:100%;
  
    .MProgressBarFG{
      background:$blue_1;
      background:-moz-linear-gradient(left, $blue_1 0%, $blue_2 50%, $blue_1 100%);
      background:-ms-linear-gradient(left, $blue_1 0%,$blue_2 50%,$blue_1 100%);
      background:-o-linear-gradient(left, $blue_1 0%,$blue_2 50%,$blue_1 100%);
      background:-webkit-linear-gradient(left, $blue_1 0%,$blue_2 50%,$blue_1 100%);
      background:linear-gradient(left, $blue_1 0%,$blue_2 50%,$blue_1 100%);
      border-radius:2em;
      box-shadow:inset 0 0 .4em rgba(0,0,0,.5);
      color:$mono_6;
      height:100%;
      width:0%;
      
      .MProgressBarIndicator{
	left:50%;
	margin-left:-12px;
	position:absolute;
      }
      
    }
  
  }
  
}