.MTab{ @extend .MGlow;
  -moz-user-select:none;
  -o-user-select:none;
  -webkit-user-select:none;
  background:#c8c8c8;
  border-color:$mono_3;
  border-style:solid;
  border-top-left-radius:.4em;
  border-top-right-radius:.4em;
  border-width:.1em 1px 0 1px;
  box-shadow:$shadow_small;
  color:$mono_2;
  cursor:pointer;
  margin-right:.4em;
  padding-left:.8em;
  padding-right:.8em;
  user-select:none;
}

.MTabSelected{ @extend .MTab;
  background:$mono_5;

  &:hover{
    box-shadow:none;
    cursor:default;
    border-color:$mono_3;
  }
}

.MTabBody{
  background:$mono_5;
  background:-moz-linear-gradient(top, $mono_5 0%, #c8c8c8 100%);
  background:-ms-linear-gradient(top, $mono_5 0%,#c8c8c8 100%);
  background:-o-linear-gradient(top, $mono_5 0%,#c8c8c8 100%);
  background:-webkit-linear-gradient(top, $mono_5 0%,#c8c8c8 100%);
  background:linear-gradient(top, $mono_5 0%,#c8c8c8 100%);
  border-color:$mono_3;
  border-radius:0 .4em .4em .4em;
  border-style:solid;
  border-width:0 1px 1px 1px;
  box-shadow:$shadow_small;
  color:$mono_2;
  display:none;
  margin:-1px;
  margin:0 auto;
  padding:1.6em;
  text-align:left;
  width:100%;
  
  textarea{
    resize:none;
  }
  
}

.MTabBodySelected{
  display:table;
}

.MTabBodySidebar{
  color:$mono_2;
  display:none;
  margin:0 auto;
  text-align:left;
}

.eztab_container{
  margin:0;
  padding:0;
  text-align:left;
}

.eztab{ @extend .MGlow;
  -moz-user-select:none;
  -o-user-select:none;
  -webkit-user-select:none;
  background:#C8C8C8;
  border-color:$mono_3;
  border-style:solid;
  border-top-left-radius:.4em;
  border-top-right-radius:.4em;
  border-width:.1em 1px 0 1px;
  box-shadow:$shadow_small;
  color:$mono_2;
  cursor:pointer;
  display:inline-block;
  padding:0;
  user-select:none;
  
  a{
    color:$mono_2;
    display:block;
    padding-left:.8em;
    padding-right:.8em;
  }
  
  &.active{
    background:$mono_5;
    position:relative;
    
    &:hover{
      box-shadow:$shadow_small;
      border-color:$mono_3;
    }
    
  }
  
}

.eztab_body_container{
  background:$mono_5;
  background:-moz-linear-gradient(top, $mono_5 0%, #c8c8c8 100%);
  background:-ms-linear-gradient(top, $mono_5 0%,#c8c8c8 100%);
  background:-o-linear-gradient(top, $mono_5 0%,#c8c8c8 100%);
  background:-webkit-linear-gradient(top, $mono_5 0%,#c8c8c8 100%);
  background:linear-gradient(top, $mono_5 0%,#c8c8c8 100%);
  border-color:$mono_3;
  border-radius:0 .4em .4em .4em;
  border-style:solid;
  border-width:0 1px 1px 1px;
  box-shadow:$shadow_small;
  padding:20px;
  position:relative;
  text-align:left;
}
