/**********/
/* colors */
/**********/

$red_1:#960000;
$red_2:#fa0000;
$red_3:#f07373;
$red_4:#890c0c;

$orange_1:#963c00;
$orange_2:#fa6400;
$orange_3:#f0a573;
$orange_4:#8c4110;

$yellow_1:#969600;
$yellow_2:#fafa00;
$yellow_3:#f0f073;
$yellow_4:#8b8b0e;

$green_1:#009600;
$green_2:#00fa00;
$green_3:#73f073;
$green_4:#0d8a0d;

$blue_1:#004b96;
$blue_2:#007dfa;
$blue_3:#73b2f0;
$blue_4:#104e8c;

$violet_1:#4b0096;
$violet_2:#7d00fa;
$violet_3:#b273f0;
$violet_4:#4a0c89;

$mono_1:#0a0a0a;
$mono_2:#323232;
$mono_3:#646464;
$mono_4:#969696;
$mono_5:#e6e6e6;
$mono_6:#ffffff;

